{{yield}}
<p class="center clock">
  <span class="digit">{{elapsingDays}}</span>
  <span class="unit">days</span> 
  <span class="digit">{{elapsingHours}}</span> 
  <span class="unit">hours</span> 
  <span class="digit">{{elapsingMins}}</span>
  <span class="unit">mins</span> 
  <span class="digit">{{elapsingSecs}}</span>
  <span class="unit">secs</span>
</p>
