 
<div class="panorama index-panorama">
  {{moving-lines}}
  {{moving-lines classNames="right-to-left"}}
  {{moving-lines}}
  {{moving-lines classNames="right-to-left"}}
  {{moving-lines}}
  {{moving-lines classNames="right-to-left"}}
  {{moving-lines}}
  {{moving-lines classNames="right-to-left"}}
  {{moving-lines}}
  {{moving-lines classNames="right-to-left"}}
  {{moving-lines}}
  {{moving-lines classNames="right-to-left"}}
  {{moving-lines}}
</div>