<div>
  <div class="controls">
    <i class="medium material-icons" onclick={{action play}}>play_circle_filled</i>
    <i class="medium material-icons" onclick={{action pause}}>pause</i>
    <i class="medium material-icons" onclick={{action reverse}}>fast_rewind</i>
  </div>
  <input type="range"
         value={{progress}}
         min="0"
         max="1"
         step="0.001"
         onfocus={{action pause}}
         oninput={{action (mut progress) value="target.value"}}>
</div>
