<div class="pheight-20" style="background-image: url('{{data.bgImg}}');">
{{!-- <img class="panel-bg" src={{data.bgImg}} alt={{panel.alt}} /> --}}
  <div class="speaking-block bg-transparent">
    <div class="speaking-field pull-right">{{data.speech}}</div>
  </div>
{{yield}}
</div>