<div class="container mt-1">
  <section class="row">
    <div class="col s12">
      <h2>Countdown</h2>
      <p class="center countdown">{{elapsingDays}} days {{elapsingHours}} hours {{elapsingMins}} mins {{elapsingSecs}} secs left</p>
    </div>
  </section>
  <section class="row">
  {{outlet}}
  </section>
</div>
